{% load widget_tweaks %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
</head>
<body>
    <div class="max-w-md mx-auto mt-10 bg-white p-6 rounded shadow">
        <h2 class="text-2xl font-bold mb-4 text-indigo-500">Register</h2>
        <form method="post">
          {% csrf_token %}
      
          <!-- Username -->
          <div class="mb-4">
            <label class="block mb-1 text-sm font-medium text-gray-700">Username</label>
            {{ form.username|add_class:"w-full p-2 input input-primary bg-white border-2 text-indigo-500" }}
            {% if form.username.errors %}
              <p class="text-red-500 text-sm mt-1">{{ form.username.errors.0 }}</p>
            {% endif %}
          </div>
      
          <!-- Email -->
          <div class="mb-4">
            <label class="block mb-1 text-sm font-medium text-gray-700">Email</label>
            {{ form.email|add_class:"w-full p-2 input input-primary bg-white border-2 text-indigo-500" }}
            {% if form.email.errors %}
              <p class="text-red-500 text-sm mt-1">{{ form.email.errors.0 }}</p>
            {% endif %}
          </div>
      
          <!-- Password -->
          <div class="mb-4">
            <label class="block mb-1 text-sm font-medium text-gray-700">Password</label>
            {{ form.password|add_class:"w-full p-2 input input-primary bg-white border-2 text-indigo-500" }}
            {% if form.password.errors %}
              <p class="text-red-500 text-sm mt-1">{{ form.password.errors.0 }}</p>
            {% endif %}
          </div>
      
          <!-- Submit -->
          <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600">
            Register
          </button>
        </form>
      </div>
      
</body>
</html>